html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #000;
    color: #00ff00;
    overflow: hidden;

    /* For å midstille terminalen i vinduet */
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

/* Matrix bakgrunn */
#matrix-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.3; /* Gjer bakgrunnen litt gjennomsiktig så terminalen er lesbar */
}

#terminal {
    width: 600px;
    height: 600px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    overflow: hidden;

    position: relative;
    z-index: 1; /* Terminal over bakgrunnen */
}

#tekstboks {
    width: 90%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.8); /* Litt gjennomsiktig */
    color: #00ff00;
    font-size: 1rem;
    border: 1px solid #00ff00;
    outline: none;
    padding: 10px;
    overflow-y: auto;
    resize: none;
}

input[type="text"] {
    width: 90%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #00ff00;
    background-color: rgba(0, 0, 0, 0.8);
    color: #00ff00;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    outline: none;
}