/* 
    Løsningsforslag fra Håvard. 
    Original: https://ildenh.github.io/projects/it1/vurderinger/2026-02-13/oppg2/
    Ingen endringer gjort i CSS.     
*/

:root {
  --base00: #282828;
  --base01: #3c3836;
  --base02: #504945;
  --base03: #665c54;
  --base04: #bdae93;
  --base05: #d5c4a1;
  --base06: #ebdbb2;
  --base07: #fbf1c7;
  --base08: #fb4934;
  --base09: #fe8019;
  --base0A: #fabd2f;
  --base0B: #b8bb26;
  --base0C: #8ec07c;
  --base0D: #83a598;
  --base0E: #d3869b;
  --base0F: #d65d0e;
}

body {
  color: var(--base0B);
  background-color: var(--base00);
}

.book {
  cursor: pointer;
  background-color: var(--base01);
  border-radius: 12px;
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 0.5rem;

  li {
    color: var(--base07);
  }
}
