html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

main {
    background-color: white;
    padding: 1rem;
}

body {
    background-color: #d5d5d5;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    margin: 1rem 0;
    list-style: none;
}

button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}